@import url(./_variables.scss);

body > nav ul:first-of-type li:nth-of-type(2) {
  margin-left: calc(var(--spacing) * 1);
  margin-right: calc(var(--spacing) * 1);
}

img.logo {
  padding: 10px;
}

.invalid-feedback {
  color: rgb(243, 100, 100);
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

section {
  margin-bottom: 4rem;
}

aside {
  details {
    margin-bottom: calc(var(--spacing) * 1);

    summary {
      font-weight: bold !important;
    }

    ul {
      li {
        margin-top: calc(var(--spacing) * 0);
      }
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--spacing) * 2);
}

input[type="checkbox"] {
  margin-left: calc(var(--spacing) * 1);
}

a.code-copy {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0px 6px 0 rgb(0 0 0 / 20%), 0 3px 5px 0 rgb(0 0 0 / 19%) !important;
}

header.intro {
  padding: 150px 0 0 0;
  text-align: center;
  h1,
  p {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    --font-weight: 800;
    margin-bottom: var(--spacing);
    line-height: 1.125;
  }
}

@media (min-width: 1200px) {
  header.intro {
    h1 {
      --font-size: 3rem;
    }
  }
}

section.advantage {
  text-align: center;
  article {
    margin: 0;
    font-size: 0.75rem;
  }
}
